{{ define "head" }}

<head>
    <!-- Données de base -->
    <meta charset="UTF-8" />
    <title>Hangman Web</title>
    <meta name="keywords" content="Hangman Web, Pendu, Projet, Ynov" />
    <meta name="description" content="Projet Hangman Web - Bodeaux Ynov Campus 2022" />
    <meta name="author" content="Pierre-Hervé Poirier / Thomas Weber / Luka Garcia" />

    <!-- Feuilles de style -->
    <link rel="stylesheet" href="assets/css/stylesheet.css" type="text/css" />

    <!-- Polices d'écriture -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet" />
</head>

{{ end }}